---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import Status from "@components/Status.svelte";
import Spotify from "@components/Spotify.svelte";
import "@style/home.css";
import pfp from "@assets/images/gideon-graves-scott-pilgrim.gif";
const baseUrl = import.meta.env.BASE_URL;
---

<script>
  import { connect } from "src/stores/websocket";
  const socket = connect();
</script>

<Layout title="Rogue's Den" isHome={true}>
  <h1 class="logo marquee">Rogue's Den</h1>

  <div class="terminals">
    <main>
      <div class="title">
        <h2>Welcome to my small humble den</h2>
        <hr />
      </div>
      <div class="row-1">
        <div class="pfp">
          <div class="pfp-border">
            <Image src={pfp} alt="Gideon Graves my beloved :3" width={100} height={100} loading="eager" />
          </div>
        </div>

        <div class="info">
          <ul>
            <li>Name's Ali, but I prefer to go by Rogue.</li>
            <li>I love linux && the commandline</li>
            <li>I know a little bout programming</li>
          </ul>
        </div>
      </div>

      <div class="row-2">
        <hr />
        Yet another computer science student with small dreams. Hoping that he can one day, achieve what he wants. Stuck in a never
        ending loop of self doubt, impostor syndrome, and lots of other negative stuff.
        <br />
        <br />
        Only just recently been taking this stuff seriously(kinda). Learning bit by bit, step by step, slowly but surely... he'll get
        there.
        <br />
        <br />
      </div>
    </main>

    <Status client:load />

    <nav>
      <ul>
        <li>
          <i class="fa-solid fa-house" style="color: #74d97d"></i>
          <a href={`${baseUrl}/#`}>$HOME</a>
        </li>
        <li>
          <i class="fa-solid fa-question" style="color: #767676"></i>
          <a href={`${baseUrl}/about`}>whoami</a>
        </li>
        <li>
          <i class="fa-solid fa-rss" style="color: #e66100"></i>
          <a href={`${baseUrl}/blogs`}>blogs</a>
        </li>
        <li>
          <i class="fa-solid fa-cubes" style="color: #5e5c64;"></i>
          <a href={`${baseUrl}/projects`}>projects(WIP)</a>
        </li>
        <li>
          <i class="fa-regular fa-images" style="color: #96a33a"></i>
          <a href={`${baseUrl}/gallery`}>gallery(WIP)</a>
        </li>
        <li>
          <i class="fa-brands fa-gitlab" style="color: #e7952d"></i>
          <a href="https://gitlab.com/rogue-87" target="_blank">gitlab</a>
        </li>
        <li>
          <i class="fa-brands fa-github" style="color: black; background-color: white; border-radius: 16px"></i>
          <a href="https://github.com/rogue-87" target="_blank">github</a>
        </li>
        <li>
          <i class="fa-brands fa-twitter" style="color: #3584e4"></i>
          <a href="https://twitter.com/rogue_cmd" target="_blank">twitter</a>
        </li>
        <li>
          <i class="fa-brands fa-steam"></i>
          <a href="https://steamcommunity.com/id/rogue1987/" target="_blank">steam</a>
        </li>
      </ul>
    </nav>

    <Spotify client:load />
  </div>

  <Footer />
</Layout>
